spring:
  application:
    name: StockEase
  
  # Disable JPA for docs profile - we only need OpenAPI endpoints
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.flywaydb.spring.boot.FlywayAutoConfiguration
  
  # Allow bean definition overriding for DocsSecurityConfig to override SecurityConfig
  main:
    lazy-initialization: true
    allow-bean-definition-overriding: true

server:
  port: 8080

logging:
  level:
    root: WARN
    "[com.stocks]": WARN




